@page "/fetchdata"
@using MauiBlazorTailwindDemo.Components

@using MauiBlazorTailwindDemo.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<div class="block sm:flex flex-grow">
    <div class="w-1/2 m-16">
        <h1 class="focus:outline-none">The weather in Chicago</h1>
        <div>
            <img class="h-15" src="/img/chicago.jpg" alt="Chicago">
        </div>

        <p>This component demonstrates fetching data from the server.</p>

        @if (forecasts == null)
        {
            <span>Loading...</span>
        }
        else
        {
            <div class="bg-white dark:bg-gray-600 p-4 rounded shadow-lg">
                <table class="w-full table-auto">
                    <thead>
                        <tr>
                            <th class="p-3 border-b-4 border-indigo-600 text-left uppercase text-sm tracking-wider">Date</th>
                            <th class="p-3 border-b-4 border-indigo-600 text-left uppercase text-sm tracking-wider">Temp. (C)</th>
                            <th class="p-3 border-b-4 border-indigo-600 text-left uppercase text-sm tracking-wider">Temp. (F)</th>
                            <th class="p-3 border-b-4 border-indigo-600 text-left uppercase text-sm tracking-wider">Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var forecast in forecasts)
                        {
                            <tr class="hover:bg-indigo-200 odd:bg-indigo-100 dark:hover:bg-indigo-400 dark:odd:bg-indigo-500">
                                <td class="p-3">@forecast.Date.ToShortDateString()</td>
                                <td class="p-3">@forecast.TemperatureC</td>
                                <td class="p-3">@forecast.TemperatureF</td>
                                <td class="p-3">@forecast.Summary</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="w-1/2 m-16">
        <Tailwind />
    </div>
</div>
}

@code {
	private WeatherForecast[] forecasts;

	protected override async Task OnInitializedAsync()
	{
		forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
	}
}
